<h1>Register</h1>
<form method="post">
    <p>  <span>Username</span> <input  type="text" required="required" name="username" placeholder="Username..." /></p>
    <p> <span>Password</span> <input type="password" required="required" name="password" placeholder="Password..." /></p>
    <p> <span>Confirm password</span> <input type="password" required="required" name="confirmed-password" placeholder="Confirm password..." /></p>
    <p> <span>Email</span> <input type="email" name="email" required="required" placeholder="Email..." /></p>
    <p><input type="submit" value="Register"/></p>
</form>


