    <p class="text-success text-center display-3">Create track</p>
<hr />
<div class="d-flex justify-content-center align-items-center container ">
<form method="post" class="align-content-center col-6">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Link...">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="link">Link</label>
            <input type="url" name="link" class="form-control" id="link" placeholder="Link...">
        </div>
        <hr color:"" style="width: 2px"/>
        <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="number" step="0.01" name="price" class="form-control" id="price" placeholder="Price...">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-left">
        <button type="submit" class="btn btn-primary bg-success text-white text-left">Create</button>
        </div>
        <div class="col-6 text-right">
    <a href="/Albums/details?albumId={{{albumId}}}" class="btn btn-primary bg-success text-white text-right" role="button">Back to album</a>
        </div>
    </div>
</form>
</div>
