<main>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <h5 class="display-6">Track name: {{{name}}}</h5>
            <h5 class="display-6">Track price: ${{{price}}}</h5>

            <br/>

            <iframe width="560" height="315" src="{{{link}}}" frameborder="0"
                    allowfullscreen></iframe>         
            <br/>
            <a href="/Albums/details?albumId={{{albumId}}}" class="btn btn-info bg-success text-white" role="button">Back to album</a>
            <br/>
        </div>
    </div>
</div>
</main>